<div class="card">
  <div class="card-body">
    <h1 class="display-4">About</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nobis necessitatibus inventore qui voluptate et, blanditiis error rerum impedit deleniti architecto quia temporibus nisi a magnam quis ipsum! Eaque doloribus ab porro cumque consequatur eligendi praesentium tempore quisquam delectus aspernatur!</p>
  </div>
</div>