<div class="jumbotron mt-4">
  <h1 class="display-4">Joyería El Rey</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio nemo consequatur earum odio hic aliquid, enim quos nulla voluptate inventore dignissimos. Animi dolores consectetur maiores placeat quo tempora veniam?</p>
</div>