<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header">
      <h3>Registrar Valoración</h3>
    </div>
    <div class="card-body">
      <form action="/values/new-value" method="POST">
        <div class="form-group">
          <textarea name="nombre" class="form-control" placeholder="Valoración del material y el trabajo" autofocus>{{nombre}}</textarea>
        </div>
        <div class="form-group">
          <input type="number" name="precio" class="form-control" placeholder="Precio" step="0.01" value="{{precio}}">
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Guardar Valoración
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
